@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --bg-dark1: #101010;
  --bg-dark2: #141618;
  --bg-dark3: #191b1d;
  --bg-white-opacity: rgba(#ffffff, 0.08);
  --white: #ffffff;
  --text-light-one: #acacac;
  --border-color: #d9d9d9;
  --border-color-two: rgba(255, 255, 255, 0.08);
  --font-outfit: "Outfit", sans-serif;
  --font-jost: "Jost", sans-serif;
}

::selection {
  color: var(--bg-dark1);
  background: var(--white);
}

/*================================================
1. Mixins Css
=================================================*/
/*================================================
2. Global Css
=================================================*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 97%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 95%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 88%;
  }
}

body {
  font-family: var(--font-outfit);
  color: var(--text-light-one);
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  line-height: 1.88;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jost);
  font-weight: 500;
  line-height: 1.25;
  color: var(--white);
}

button {
  outline: none;
  border: none;
}

input, textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0 solid;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input, textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 25px;
  transition: all 0.5s ease;
  width: 100%;
  background-color: transparent;
  color: var(--text-light-one);
}
input:focus, textarea:focus {
  border: 1px solid #eee;
}
input::placeholder, textarea::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-light-one);
  font-family: var(--font-outfit);
}

i.bx {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-color1 {
  background-color: var(--bg-dark1);
}

.bg-color2 {
  background-color: var(--bg-dark2);
}

.pt-120 {
  padding-top: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pt-120 {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .pt-120 {
    padding-top: 90px;
  }
}

.pl-80 {
  padding-left: 80px !important;
}
@media (max-width: 1199px) {
  .pl-80 {
    padding-left: 10px !important;
  }
}

.pt-90 {
  padding-top: 90px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pt-90 {
    padding-top: 70px;
  }
}
@media (max-width: 991px) {
  .pt-90 {
    padding-top: 60px;
  }
}

.pb-90 {
  padding-bottom: 90px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pb-90 {
    padding-bottom: 70px;
  }
}
@media (max-width: 991px) {
  .pb-90 {
    padding-bottom: 60px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pb-120 {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .pb-120 {
    padding-bottom: 90px;
  }
}

.pbb-120 {
  padding-top: 120px !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pbb-120 {
    padding-top: 100px !important;
  }
}
@media (max-width: 991px) {
  .pbb-120 {
    padding-top: 90px !important;
  }
}

.pb-65 {
  padding-bottom: 65px;
}

.mt-120 {
  margin-top: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mt-120 {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .mt-120 {
    margin-top: 90px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pe-80 {
  padding-right: 80px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

.mb-70 {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .mb-70 {
    margin-bottom: 40px;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-44 {
  margin-bottom: 44px;
}
@media (max-width: 991px) {
  .mb-44 {
    margin-bottom: 0px;
  }
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}
@media (max-width: 767px) {
  .mt-70 {
    margin-top: 40px;
  }
}

.eg-card {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

/*# sourceMappingURL=custom.css.map */
